/* boxing  */
* {
    box-sizing: border-box;
  }
  body::after {
    filter:blur(3px);
    content: "";
    display: block;
    position: fixed;
    z-index: -1;   
    width: 100%;
    height: auto;
    background-image: url(/res/team-spirit.jpg);
    background-size: cover;
    opacity: 0.8;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }

  /* Header */
.header {
  padding: 0px;
  margin: 0%;
    text-align: center;
  }
  .header > p{
    font-size: 23px;
    color:black;
  }
.logo > a > img{
width: 90px;
height:90px;
}
  body {margin:0;font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif}

.topnav {
    background-color:black;
    opacity:0.7;
    float:center;
    overflow:hidden;
}

.topnav a {
  float: left;
  display: block;
  color:white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.active {
  background-color:#555;
}

.topnav .icon {
  display: none;
}
.qhead{
  text-shadow:1px 1px #555;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  letter-spacing: 0.6ch;
  text-align: center;
}
.ahead{
  text-align: center;
  /* text-shadow:1px 1px #555; */
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
.chead{
  margin-left:4%;
text-align: left; 
 font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
.cb{
  margin-left:5%;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size:22px;
}
.ahead1{
  text-align: left;
  margin-left: 2%;
  /* text-shadow:1px 1px #555; */
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.abody{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 22px;
  margin-left: 2%;

}
.tl{
  margin-left: 2%;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size:22px;
}
.ch{
  margin-left: 2%;
  text-align: left; 
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
.micon > a > img{
  margin-left: 3%;
  width: 65px;
  height:65px;
}
.tbody{
  margin-left: 2%;
  margin-right: 2%;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.tbody > p{
  font-size: 20px;
}
.thead{
text-align: center; 
 font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
/* .con{
  width:35%;
  float: left;
}
.con1{
  width:65%;
  float:left;
} */
/* .dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 17px;    
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color:rgba(0,0,0,0.7);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
} */

/* .topnav a:hover, .dropdown:hover .dropbtn {
  background-color: #555;
  color: white;
} */

/* .dropdown-content a:hover {
  background-color: #ddd;
  color: black;
}

.dropdown:hover .dropdown-content {
  display: block;
} */

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child), .dropdown .dropbtn {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  /* .topnav.responsive .dropdown {float: none;}
  .topnav.responsive .dropdown-content {position: relative;}
  .topnav.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  } */
}

.mySlides 
{
  display: none
}
.iim{
  margin-top: 10px;
  height:400px;
  width: 100%;
  vertical-align: middle;
}

/* Slideshow container */
.slideshow-container {
  max-width: 600px;
  max-height: 600px;
  position: relative;
  margin: auto;
  box-shadow: 10px 10px 5px black;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color:black;
  font-weight: bold;
  font-size: 35px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
 
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: #009f9d;
  opacity: .4;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
/* @media screen and (max-width: 600px){
  .iim{
    max-width:340px;
} */

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}

.bt{
  background-color:whitesmoke;
  margin-left: 2%;
  margin-right: 2%;
  border-radius: 10px;
}